@model IEnumerable<Pharmacy.Arrival>

@{
    ViewData["Title"] = "Arrival";
}

<h2>Arrivals</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReceiptDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchasePrice)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Deliver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicament)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deliver.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicament.Annotation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArrivalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArrivalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArrivalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
