@using Pharmacy.ViewModels
@model MedicamentsViewModel
@addTagHelper "*, Pharmacy"

@{
    ViewData["Title"] = "Medicaments";
}

<h2>Medicaments</h2>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Name: </label>
        @Html.TextBox("name", Model.FilterViewModel.SelectedName, 
                htmlAttributes: new { @class = "form-control" })

        <label class="control-label">  Annotation: </label>
        @Html.TextBox("annotation", Model.FilterViewModel.SelectedAnnotation,
                htmlAttributes: new { @class = "form-control" })

        <label class="control-label">  Producer: </label>
        @Html.TextBox("producer", Model.FilterViewModel.SelectedProducer,
                htmlAttributes: new { @class = "form-control" })

        <br><br><label class="control-label">Units: </label>
        @Html.TextBox("units", Model.FilterViewModel.SelectedUnits,
                htmlAttributes: new { @class = "form-control" })

        <label class="control-label">  Storage: </label>
        @Html.TextBox("storage", Model.FilterViewModel.SelectedStorage,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-default" style="margin-top:4px; height:50px; width:300px; color: black;  border-color:black; background-color:greenyellow;" />
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.NameAscSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-annotation="@(Model.FilterViewModel.SelectedAnnotation)"
                       asp-route-producer="@(Model.FilterViewModel.SelectedProducer)"
                       asp-route-units=" @(Model.FilterViewModel.SelectedUnits)"
                       asp-route-storage="@(Model.FilterViewModel.SelectedStorage)">Name</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.AnnotationAscSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-annotation="@(Model.FilterViewModel.SelectedAnnotation)"
                       asp-route-producer="@(Model.FilterViewModel.SelectedProducer)"
                       asp-route-units=" @(Model.FilterViewModel.SelectedUnits)"
                       asp-route-storage="@(Model.FilterViewModel.SelectedStorage)">Annotation</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.ProducerAscSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-annotation="@(Model.FilterViewModel.SelectedAnnotation)"
                       asp-route-producer="@(Model.FilterViewModel.SelectedProducer)"
                       asp-route-units=" @(Model.FilterViewModel.SelectedUnits)"
                       asp-route-storage="@(Model.FilterViewModel.SelectedStorage)">Producer</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.UnitsAscSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-annotation="@(Model.FilterViewModel.SelectedAnnotation)"
                       asp-route-producer="@(Model.FilterViewModel.SelectedProducer)"
                       asp-route-units=" @(Model.FilterViewModel.SelectedUnits)"
                       asp-route-storage="@(Model.FilterViewModel.SelectedStorage)">Units</a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.StorageAscSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-annotation="@(Model.FilterViewModel.SelectedAnnotation)"
                       asp-route-producer="@(Model.FilterViewModel.SelectedProducer)"
                       asp-route-units=" @(Model.FilterViewModel.SelectedUnits)"
                       asp-route-storage="@(Model.FilterViewModel.SelectedStorage)">Storage</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medicaments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annotation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicamentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicamentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicamentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-annotation="@(Model.FilterViewModel.SelectedAnnotation)"
       asp-route-producer=" @(Model.FilterViewModel.SelectedProducer)"
       asp-route-units="@(Model.FilterViewModel.SelectedUnits)"
       asp-route-storage="@(Model.FilterViewModel.SelectedStorage)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-annotation="@(Model.FilterViewModel.SelectedAnnotation)"
       asp-route-producer=" @(Model.FilterViewModel.SelectedProducer)"
       asp-route-units="@(Model.FilterViewModel.SelectedUnits)"
       asp-route-storage="@(Model.FilterViewModel.SelectedStorage)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
