@model IEnumerable<Pharmacy.Delivers>

@{
    ViewData["Title"] = "Index";
}

<h2>Delivers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patronymic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPhone)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeliverId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeliverId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeliverId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
