@model IndexViewModel
@addTagHelper "*, Pharmacy"

@{
    ViewData["Title"] = "Index";
}

<h2>Delivers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Surname
                </th>
                <th>
                    Name
                </th>
                <th>
                    Patronymic
                </th>
                <th>
                    ContactPhone
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Deliver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeliverId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeliverId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeliverId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
@if (Model.PageViewModel.HasPreviousPage)
{
<a asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
   class="btn btn-default btn">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Назад
</a>
}
@if (Model.PageViewModel.HasNextPage)
{
<a asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
   class="btn btn-default btn">
    Вперед
    <i class="glyphicon glyphicon-chevron-right"></i>
</a>
}
